.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    margin: 20px 0;
}

.button {
    margin: 10px 0;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    justify-content: space-between;
    /* 如果你希望按钮之间有空隙 */
}